
/* ------------------------------------------------------------------ */
/*        CLEARFIX
/* ------------------------------------------------------------------ */

%clearfix {
    zoom: 1;

    &:before,
    &:after {
        content: ".";
        display: block;
        height: 0;
        overflow: hidden;
    }

    &:after {
        clear: both;
    }
}


/* ------------------------------------------------------------------ */
/*        BORDER-BOX
/* ------------------------------------------------------------------ */

%border-box {
    box-sizing:border-box;
}

/* ------------------------------------------------------------------ */
/*        SMOOTH
/* ------------------------------------------------------------------ */

%smooth {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* ------------------------------------------------------------------ */
/*        FULL
/* ------------------------------------------------------------------ */

%full {
    @include position(absolute, 0px 0px 0px 0px);
}

%full--percent {
    width:100%;
    height:100%;
}

/* ------------------------------------------------------------------ */
/*        ELLIPSIS
/* ------------------------------------------------------------------ */

%ellipsis{
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
