/* ------------------------------------------------------------------ */
/*        COMMON PROJECT VARIABLES
/* ------------------------------------------------------------------ */

$base-font-size   : 16px;
$base-line-height : 22px;

/* ------------------------------------------------------------------ */
/*        BREAKPOINTS
/* ------------------------------------------------------------------ */

$breakpoint-mobile  : 600px;
$breakpoint-tablet  : 800px;
$breakpoint-desktop : 1024px;

/* ------------------------------------------------------------------ */
/*        COLORS
/* ------------------------------------------------------------------ */

// Pattern : $color-{name}:#FFFFFF;
$color-black  : #000000;
$color-white  : #FFFFFF;
$color-border : #CCCCCC;
