<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <meta property="og:description" content="" />
        <meta property="og:image" name="thumb" content=""/>
        <meta property="og:title" content=""/>
        <meta property="og:type" content="" />
        <meta property="og:url" content=""/>
        <meta property="og:site_name" content=""/>
        <meta name="description" content=""/>

        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="">
        <meta name="twitter:creator" content="">
        <meta name="twitter:title" content="">
        <meta name="twitter:description" content="">
        <meta name="twitter:image:src" content="">

        <title>Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="styles/styles.css">
    </head>
    <body>
        <p style="margin : 20px 20px 0 20px; font-family : 'Helvetica'; ">Hello world.</p>
        <p style="margin : 0px 20px 20px 20px; color : rgba(128, 128, 128, 0.53); font-family : 'Helvetica'; font-size : 12px;">Author : <a style="color : rgba(128, 128, 128, 0.53); text-transform : uppercase; font-size : 10px; font-weight : 700 " href="http://corentinfardeau.fr" target="_blank">Corentin Fardeau</a></p>
        <p><%= env %></p>
        <script src="<%= scriptURL %>scripts/app.js"></script>
    </body>
</html>
